*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #191919;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
  margin-bottom: 52px;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.hero-container{
  margin-bottom: 32px;
}

.hero-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.first{
  width: 222px;
  margin-bottom: 16px;
}

.second{
  width: 93px;
  margin-bottom: 32px;
}

.hero-title{
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.hero-btn{
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  width: 280px;
  background-color: #df3d3a;
  padding: 19px 113px;
}

.hero-img{
  display: block;
  margin-top: 32px;
}

/* .design-section {
}
.section {
} */
/* .design-container {
}
.container {
} */
.design-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.design-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
  width: 210px;
}

.design-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
  margin-bottom: 16px;
}

.design-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.comfort-img {
  display: block;

}

.ability-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.ability-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ability-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.sound-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.sound-img {
  display: block;
  margin-bottom: 32px;
}

.sound-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
/* 
.sound-item {

} */

.sound-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
  margin-bottom: 16px;
}

.sound-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.technology-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.technology-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #e7e7e7;
  margin-bottom: 16px;
}

.technology-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 32px;
}

.technology-img {
  display: block;
}

.guarantee-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.guarantee-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* .guarantee-item {

} */

.guarantee-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
  margin-bottom: 16px;
}

.guarantee-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.guarantee-img {
  display: block;
  margin-top: 32px;
}

.history-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  width: 130px;
  margin-bottom: 32px;
}

.history-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 32px;
}

.history-img {
  display: block;
  margin-bottom: 32px;
}

.history-img-second {
  display: block;
  margin-bottom: 32px;
}

.history-coment {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #e7e7e7;
  margin-bottom: 16px;
}

.hisrory-author {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.4);
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #df3d3a;
  margin-bottom: 16px;
}

.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 32px;
}

.reviews-number-list {
  display: flex;
  gap: 20px;
}

.reviews-number-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: #df3d3a;
}

.faq-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  display: flex;
  gap: 20px;
}

.faq-num-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 0.70;
  color: #e7e7e7;
}

.faq-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.order-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

/* .swiper-img-list {

} */

/* .swiper-img-item {

} */

.swiper-btn {
  margin-top: 32px;
}

.order-list {
margin-bottom: 32px;
margin-top: 32px;
}

.order-item {
display: flex;
justify-content: space-between;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: rgba(255, 255, 255, 0.8);
margin-bottom: 25px;
}

/* .order-list-text {

} */

.order-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #df3d3a;
  margin-bottom: 24px;
}

.order-btn {
  font-weight: 600;
  font-size: 16px;
  width: 280px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  padding: 19px 113px;
  background-color: #df3d3a;
  margin-bottom: 88px;
  display: block;
}

.feedback-section {
  margin-top: 16px;
}

.feedback-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

.feedback-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}
/* 
.feedback-form {

} */

/* .feedback-name-lable {

} */

.feedback-input {
  background-color: #191919;
  border: none;
  width: 280px;
  border-bottom:  2px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 16px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.3);
}

.feedback-email-lable {

}

.user-feedback-text {

}
